<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>My Bullet Journal</title>
        <link rel="stylesheet" href="PlannerHomePage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>
</html>

<body>
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Welcome to your Bullet Journal</h2>

      <!-- <form action="../views/users/login.html" method="get">
        <button id="home-login-button">Log in</button>
      </form> -->
      <a href="./users/login"><button type="button" id="home-login-button">Log in</button></a>
      <a href="./users/signup"><button type="button" id="home-signup-button">Sign up</button></a>

    </div>
  </div>

</body>