*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light';
    background-color: #121212;
    color: whitesmoke;
}
#title {
    padding-left: 2rem;
}
#navPanel {
    float: left;
    width: 20%;
    padding: 2rem 2rem;
    cursor: pointer;
}
#calendar_container {
    background-color: #121212;
    float: right;
    width: 80%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    
}
#calendar {
    width: 45rem;
    height: 52rem;
    background-color: #2e2c2c;
    display: block;
    justify-content: center;
    position: relative;
    align-items: start;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}
.month {
    background-color: mediumspringgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    color: #2e2c2c;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    color: #2e2c2c;
    background-color: mediumspringgreen;

}
.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    color: #2e2c2c;
    background-color: mediumspringgreen;

    
}
.month p {
    font-size: 2rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    color: #2e2c2c;
    background-color: mediumspringgreen;
}

.weekdays {
    width: 100%;
    padding: 0 0.4rem;
    justify-content: space-between;
    align-content: normal;
    display: flex;
    background-color: #2e2c2c;
}

.weekdays div {
    background-color: #2e2c2c;
    display: flex;
    width: calc(44.2rem/7);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid ghostwhite;
}

.days div:hover:not(.today) {
    background-color: #2e2c2c;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;;
}

.today {
    background-color: mediumspringgreen;
    color:#121212
}