<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>My Bullet Journal</title>
        <link rel="stylesheet" href="PlannerHomePage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>
</html>

<body>
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Welcome back.</h2>

      <form method="POST" id="user_form">
        Username:<input type="text" id="username" name="username">
        Password:<input type="text" id="password" name="password">
            <span class="text-danger"></span>
        <button class="btn btn-primary btn-lg">Log in</button>
      </form>
    </div>
  </div>
</body>