<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>My Bullet Journal</title>
        <link rel="stylesheet" href="PlannerHomePage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>
</html>

<body>
  <h1>Sign up</h1>
  <form action="/users/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="signup-username" name="username" required>

    <label for="username">Password(Must be 8 char long):</label>
    <input type="text" id="signup-password" name="password" required>

    <label for="firstName">First Name:</label>
    <input type="text" id="signup-first-name" name="firstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="signup-last-name" name="lastName" required>

    <label for="email">Email:</label>
    <input type="text" id="signup-email" name="email" required>

    <button onclick="submit">submit</button>
  </form>
</body>